#checking {
  .checking__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    .checking-text {
      z-index: -1;
      background-image: url(../../assets/buttons/ButtonOn.png);
      width: 250px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      letter-spacing: 2px;
  
      &::before {
        content: 'Checking';
        font-size: 33px;
        font-weight: 700;
        color: var(--white);
        position: absolute;
        top: 27px;
        left: 47px;
      }
    }
  }

  .checking {
    display: flex;
    justify-content: center;
    align-items: center;
    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
}
