#mint {
	.app__text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		margin-bottom: 20px;

		.instruction-mint {
			width: 80%;
			font-size: 20px;
			text-align: center;
			line-height: 1.8;

			@media screen and (min-width: 1000px) {
				width: 70%;
				font-size: 22px;
			}

			@media screen and (max-width: 800px) {
				width: 100%;
			}
		}

		.image-text {
			background-image: url(../../assets/buttons/ButtonOn.png);
			width: 240px;
			height: 70px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			letter-spacing: 2px;

			&::before {
				content: 'Mint';
				font-size: 36px;
				font-weight: 700;
				color: var(--white);
				position: absolute;
				top: 16px;
				left: 77px;
			}
		}
	}
}

.app__mint {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	@media screen and (max-width: 600px) {
		flex-direction: column;
	}

	@media screen and (max-width: 100px) {
		justify-content: space-between;
	}
}

.app__cta {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	width: 70%;

	.selects {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-self: center;
		gap: 25px;

		@media screen and (max-width: 600px) {
			place-self: center;
		}
	}

	.group__buttons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;

		@media screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}
}

.app__image {
	animation: float 3s linear infinite;
	@media screen and (max-width: 600px) {
		display: block;
			margin: 20px auto 0;
			width: 75%;
	}

	@media screen and (min-width: 1000px) {
		width: 45%;
		margin: 0 0 0 120px;
	}
}

