#bastion {
  overflow: hidden;

  .app__text-bastion {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;

    .text-bastion {
      z-index: -1;
      background-image: url(../../assets/buttons/ButtonOn.png);
      width: 250px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      letter-spacing: 2px;
      margin-bottom: 20px;
    
      &::before {
        content: 'Bastion';
        font-size: 33px;
        font-weight: 700;
        color: var(--white);
        position: absolute;
        top: 27px;
        left: 69px;
      }
    }
  }
}

.instruction-mint {
  width: 80%;
  font-size: 20px;
  text-align: center;
  line-height: 1.8;

  @media screen and (min-width: 1000px) {
    width: 70%;
    font-size: 22px;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}


.bastion__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;

    .bastion__img {
      width: 90%;
      margin: auto;
      img {
        width: 100%;
        margin: auto;
      }

      @media screen and (min-width: 1000px) {
        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 400px 1fr;
  }

  .bastion__img {
    img {
      z-index: -1;
      animation: float 3s linear infinite;
      width: 70%;
      display: block;
    }

    @media screen and (min-width: 1000px) {
      img {
        width: 100%;
      }
    }
  }

  .app__input {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    @media screen and (min-width: 1000px) {
      width: 100%;
    }

    .input__bastion {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;

      @media screen and (max-width: 800px) {
        display: flex;
      }
    }

    .input__inquisitors {
      margin: 20px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      @media screen and (max-width: 800px) {
        display: flex;
      }
    }

    .input__health {
      display: grid;
      grid-template-columns: 250px 250px;
      gap: 40px;
      place-self: center;
      @media screen and (max-width: 800px) {
        display: flex;
      }


    }
  }
}
