.bastion {
  overflow: hidden;

  .bastion__text {
    display: flex;
    justify-content: center;
  }
}

.bastion__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;

    .bastion__img {
      width: 90%;
      margin: auto;
      img {
        width: 100%;
        margin: auto;
      }
    }
  }

  .bastion__img {
    img {
      width: 70%;
      display: block;
    }
  }

  .app__input {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    .input__bastion {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;

      @media screen and (max-width: 800px) {
        display: flex;
      }
    }

    .input__inquisitors {
      margin: 20px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      @media screen and (max-width: 800px) {
        display: flex;
      }
    }

    .input__health {
      display: grid;
      grid-template-columns: max-content max-content;
      gap: 40px;
      @media screen and (max-width: 800px) {
        display: flex;
      }
    }
  }
}

.image-text {
  background-image: url(../../assets/buttons/ButtonOn.png);
  width: 250px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  letter-spacing: 2px;

  &::before {
    content: 'Bastion';
    font-size: 25px;
    font-weight: 700;
    color: var(--white);
    position: absolute;
    top: 30px;
    left: 80px;
  }
}